* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
body {
    background: #081F40;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/svg/buildings2.svg);
    mix-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
    transform: scale(1.1);
}
.background2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/svg/stars.svg);
    mix-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
}
.backgroundc {
    isolation: isolate;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(closest-side at 42% 38%, #081F40 20%, #041022 80%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
    display: block;
}

/*Header*/
header {
    margin-top: 30px;
    display: flex;
    position: fixed;
    z-index: 20;
    width: 100%;;
}
#name {
    font-size: 24px;
    text-align: left;
    margin-left: 40px;
    transition: .3s;
}
#name:hover {
    filter: invert(43%) sepia(100%) saturate(7486%) hue-rotate(344deg) brightness(94%) contrast(92%);
    color: #E71D36;
}
.wrapper-right {
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
    position: relative;
}
.wrapper-right svg {
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
.wrapper-right a:hover {
    filter: invert(43%) sepia(100%) saturate(7486%) hue-rotate(344deg) brightness(94%) contrast(92%);
    transition: .3s;
}
.Logos {
    transition: 0.3s;
}
.next-page {
    transition: 0.3s;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.next-page:hover {
    filter: invert(43%) sepia(100%) saturate(7486%) hue-rotate(344deg) brightness(94%) contrast(92%);
}
.next-page p {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
}
.next-page span {
    display: block;
    width: 3px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}

/*Side Menu*/
.side-menu {
    position: fixed;
    top: 50%;
    transform: translate(0%, -60%);
    margin-left: 40px;
    z-index: 100;
}
.side-menu ul {
    list-style-type: none;
    height: 100px;
    width: 60px;
    margin: 0px;
}
.side-menu li {
    height: 3px;
    margin-bottom: 30px;
}
.side-menu a {
    display: block;
    background: #FFFFFF;
    height: 100%;
    width: 32px;
    transition: .3s;
}
.side-menu a:hover {
    transition: 0.3s;
    filter: invert(43%) sepia(100%) saturate(7486%) hue-rotate(344deg) brightness(94%) contrast(92%);
}
.side-menu a.selected{
    display: block;
    background: #FFFFFF;
    height: 100%;
    width: 58px;
}

/*Content*/
.all-content {
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slide {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    scroll-snap-align: start;
}
.content {
    margin: 0px;
    margin-left: 20%;
    width: 683px;
    max-width: 80%;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    text-align: left;
    color: #FFFFFF;
    transition: 0.3s;
}
.ovr {
    transform: translate(0%, -70%)
}
.content .title {
    font-size: 96px;
    letter-spacing: 6.67px;
    text-shadow: 0 20px 40px rgba(0,0,0,0.30);
}
.content .divisor {
    display: block;
    background: #E71D36;
    border-radius: 4.5px;
    width: 107px;
    height: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.content .subtitle {
    font-size: 36px;
    letter-spacing: 2.5px;
}
#more-button {
    background: #2EC4B6;
    border-radius: 27px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    width: 155px;
    height: 54px;
    display: block;
    line-height: 54px;
    margin-top: 30px;
}
#more-button:hover {
    background: #E71D36;
    filter: none;
}
.content img {
    height: 30px;
    margin-right: 20px; 
}
.content a:hover {
    transition: .3s;
    filter: invert(43%) sepia(100%) saturate(7486%) hue-rotate(344deg) brightness(94%) contrast(92%);
}

@media only screen and (max-width: 1280px) {
    #name {
        font-size: 20px;
    }
    .next-page p {
        font-size: 10px;
    }
    .side-menu ul {
        width: 50px;
    }
    .side-menu a {
        width: 29px;
    }
    .side-menu a.selected{
        width: 49px;
    }
    .content .title {
        font-size: 86px;
    }
    .content .subtitle {
        font-size: 36px;
        letter-spacing: 2.5px;
    }
    .content img {
        height: 25px;
    }
    .wrapper-right svg {
        height: 20px;
    }
    #more-button {
        font-size: 20px;
        width: 145px;
        height: 47px;
        line-height: 47px;
    }
}

@media only screen and (max-width: 720px) {
    header {
        margin-top: 15px;
    }
    #name {
        font-size: 18px;
        margin-left: 20px;
    }
    .wrapper-right {
        margin-right: 20px;
    }
    .next-page p {
        font-size: 8px;
    }
    .side-menu {
        margin-left: 20px;
    }
    .side-menu ul {
        width: 40px;
    }
    .side-menu a {
        width: 22px;
    }
    .side-menu a.selected{
        width: 39px;
    }
    #specialovr {
        font-size: 16px;
    }
    .content .title {
        font-size: 72px;
    }
    .content .subtitle {
        font-size: 32px;
        letter-spacing: 2.5px;
    }
    .content img {
        height: 25px;
    }
    .wrapper-right svg {
        height: 18px;
    }
    #more-button {
        font-size: 16px;
        width: 120px;
        height: 35px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        margin-top: 10px;
    }
    #name {
        font-size: 12px;
        margin-left: 10px;
    }
    .wrapper-right {
        margin-right: 10px;
    }
    .next-page p {
        font-size: 8px;
    }
    .side-menu {
        margin-left: 10px;
    }
    .side-menu ul {
        width: 40px;
    }
    .side-menu a {
        width: 22px;
    }
    .side-menu a.selected{
        width: 39px;
    }
    .content .title {
        font-size: 32px;
    }
    .content .subtitle {
        font-size: 24px;
        letter-spacing: 2.5px;
    }
    #specialovr {
        font-size: 10px;
    }
    .content img {
        height: 25px;
    }
    .wrapper-right svg {
        height: 12px;
    }
    #more-button {
        font-size: 14px;
        width: 100px;
        height: 35px;
        line-height: 35px;
    }
}